.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;  
  grid-template-rows: 460px 460px; 
  grid-gap: 10px;
  background-color: #F7F5E6;
  color: #dbceb0;
}

.boxgrid {
	display:grid;
	grid-template-rows: 270px 64px 120px;
	color: #dbceb0
  border-width: : 2px;
  border: solid;
  border-color: #031424;
}

.boxL{
  position: relative;	
  background-color: #696969;
  color: #fff;


}

.boxR{
  position: relative;	
  background-color:#696969;
  color: #fff;
}

.box{
  position: relative;	
  background-color: #01ABAA;
  color: #fff;
  text-align: center; 
  padding: 5px; 
  border-width: : 2px;
  border-top: solid;
  border-color: #031424;
  font-size: 14px;
}

.img {
    display: block;
    margin: auto;
    width: 40%;
}

.overlayLeft {
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  font-size: 14px;
}

.overlayRight {
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #000000;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  font-size: 14px;
}

.boxL:hover .overlayLeft {
  width: 100%;
}

.boxR:hover .overlayRight {
  width: 100%;
  left: 0;
}